USE [master]
GO
/****** Object:  Database [hospital]    Script Date: 27-Mar-18 6:41:46 PM ******/
CREATE DATABASE [hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\hospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\hospital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hospital]
GO
USE [hospital]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 27-Mar-18 6:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[department] [nvarchar](50) NULL,
	[position] [nvarchar](50) NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewEvent]    Script Date: 27-Mar-18 6:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewEvent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor] [int] NULL,
	[patient] [int] NULL,
	[psro] [int] NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_NewEvent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 27-Mar-18 6:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[age] [int] NULL,
	[telephone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procedur]    Script Date: 27-Mar-18 6:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedur](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[price] [money] NULL,
	[description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Procedur] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NewEvent]  WITH CHECK ADD  CONSTRAINT [FK_NewEvent_NewEvent] FOREIGN KEY([doctor])
REFERENCES [dbo].[Doctors] ([id])
GO
ALTER TABLE [dbo].[NewEvent] CHECK CONSTRAINT [FK_NewEvent_NewEvent]
GO
ALTER TABLE [dbo].[NewEvent]  WITH CHECK ADD  CONSTRAINT [FK_NewEvent_Patients] FOREIGN KEY([patient])
REFERENCES [dbo].[Patients] ([id])
GO
ALTER TABLE [dbo].[NewEvent] CHECK CONSTRAINT [FK_NewEvent_Patients]
GO
ALTER TABLE [dbo].[NewEvent]  WITH CHECK ADD  CONSTRAINT [FK_NewEvent_Procedur] FOREIGN KEY([psro])
REFERENCES [dbo].[Procedur] ([id])
GO
ALTER TABLE [dbo].[NewEvent] CHECK CONSTRAINT [FK_NewEvent_Procedur]
GO
USE [master]
GO
